---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.name | escape }}</h1>
  </header>

  <div class="post-content">
    <div class="sideDiv">
      <img src="/assets/{{ page.id }}.jpg" width="200px" />
    </div>
    <div class="sideDiv">
      {{ page.role }}<br>
      {% if page.email %}
        Email: <a href="mailto:{{ page.email }}">{{ page.email }}</a><br>
      {% endif %}
      {% if page.website %}
        Website: <a href="https://{{ page.website }}">{{ page.website }}</a><br>
      {% endif %}
      {% if page.github %}
        GitHub: <a href="https://github.com/{{ page.github }}">{{ page.github }}</a><br>
      {% endif %}
      {% if page.twitter %}
        Twitter: <a href="https://twitter.com/{{ page.twitter }}">@{{ page.twitter }}</a><br>
      {% endif %}
      {% if page.sketchfab %}
        Sketchfab: <a href="https://www.sketchfab.com/{{ page.sketchfab }}">{{ page.sketchfab }}</a><br>
      {% endif %}
      {% if page.scholar %}
        Scholar: <a href="https://scholar.google.com.au/citations?hl=en&user={{ page.scholar }}">{{ page.scholar }}</a><br>
      {% endif %}
      {% if page.instagram %}
        Instagram: <a href="https://www.instagram.com/{{ page.instagram }}">@{{ page.instagram }}</a><br>
      {% endif %}
    </div>
    {{ content }}
  </div>

</article>
